@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">欢迎来到多媒体与图形交互式服务页面</h1>
    <p>待提供服务，请访问 <a href="http://hangliebe.com">多媒体与图形</a>.</p>
</div>
<div>
    <p>文件服务中心:<a href="~/image">文件中转站</a>.</p>
    <p><a href="~/MyFiles">文件下载列表</a>.</p>
    <p>音频处理页面:<a href="~/audio">音频处理页面</a>.</p>
</div>

